.Rproj.user
.Rhistory
.RData
.Ruserdata

temporal-data
original-data
*.Rcheck/
censosbo_*.tar.gz
/doc/
/Meta/
docs
inst/doc

dev-docs/

# Figuras generadas al ejecutar knitr a mano sobre las viñetas
figure/
